#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app .container {
  width: 376px;
  height: 666px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  height: 497px;
  padding: 10px;
  overflow-y: scroll;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.tab {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  color: #19bf56;
  font-size: large;
  font-weight: 700;
}

.active-tab-btn {
  border-bottom: solid 3px #19bf56;
}

.tab-btn {
  padding-bottom: 0px;
  cursor: pointer;
  font-size: medium;
}

.archive-all {
  color: #19bf56;
  padding-top: 1px;
  padding-bottom: 5px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
