#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app .container {
  width: 376px;
  height: 666px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  height: 497px;
  padding: 10px;
  overflow-y: scroll;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}
